{% extends baseLayout %}

{% if useBreadcrumb is defined and useBreadcrumb %}
    {% block breadcrumb %}
        Reset Password
    {% endblock %}
{% endif %}

{% block content %}
{% if not useBreadcrumb %}
        <h1>Reset Password</h1>
{% endif %}

{% include "FOSUserBundle:Resetting:request_content.html.twig" %}
{% endblock content %}
