{% extends baseLayout %}

{% if usePageHeader %}
    {% block page_header %}
        Reset Password
    {% endblock %}
{% endif %}

{% block content %}
{% if not usePageHeader %}
        <h1>Reset Password</h1>
{% endif %}

{% include "FOSUserBundle:Resetting:request_content.html.twig" %}
{% endblock content %}
