
form.fos_user_profile_edit,
form.fos_user_change_password,
div.fos_user_user_show {
        font-size: 14px; width: 500px; background: none repeat scroll 0% 0% rgb(238, 238, 238); margin: 0pt auto; padding: 15px;
}

form.fos_user_change_password input,
form.fos_user_profile_edit input {
        float: left;
        font-size: 14px;
        width: 100%;
        margin-bottom: 10px;
}

form.fos_user_change_password input[type="submit"],
form.fos_user_profile_edit input[type="submit"] {
        float: right;
        width: auto;
}

div.login_box {
    width: 300px;
    margin: 20px auto 20px auto;
    background: white;
    padding: 15px;

    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;

    -moz-box-shadow: 0 4px 12px #666666;
    -webkit-box-shadow: 0 4px 12px #666666;
    box-shadow: 0 4px 12px #666666;
}	

div.login_box form {
}

div.login_box ul {
    color: red;
}

div.login_box .button  {
    webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    box-shadow: 0 1px 1px rgba(0,0,0, 0.5);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0, 0.5);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0, 0.5);

    border: 1px solid #cccccc;
    background: #f2f2f2;
    margin: 2px;
    color: black;
    float: right;
}

div.login_box label {
    font-size: 14px;
    color: #222222;
}

div.login_box input{
}

div.login_box input[type="text"],
div.login_box input[type="email"],
div.login_box input[type="password"] {
    font-size: 20px;
    width: 290px;
    color: #222222;
    margin: 5px 0 10px 0 !important;
    border: 1px solid #BBBBBB;
}

div.login_box .submit {
    float: right;
    font-size: 16px;
}

div.login_box a.forgotten_password {
    font-size: 12px;
    margin-top: 20px;
    float: left;
    clear: both;
}