{% extends baseLayout %}

{% if usePageHeader %}
    {% block page_header %}
        Register
    {% endblock %}
{% endif %}

{% block content %}
{% if not usePageHeader %}
        <h1>Register</h1>
{% endif %}
    {% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock content %}
