{% extends baseLayout %}

{% if useBreadcrumb %}
    {% block breadcrumb %}
        Edit Information
    {% endblock %}
{% endif %}

{% block content %}
{% if not useBreadcrumb %}
        <h1>Edit Information</h1>
{% endif %}
{% include "FOSUserBundle:Profile:edit_content.html.twig" %}
{% endblock content %}
