{% extends baseLayout %}

{% if usePageHeader %}
    {% block page_header %}
        Edit Information
    {% endblock %}
{% endif %}

{% block content %}
{% if not usePageHeader %}
        <h1>Edit Information</h1>
{% endif %}
{% include "FOSUserBundle:Profile:edit_content.html.twig" %}
{% endblock content %}
