{% extends baseLayout %}

{% if usePageHeader %}
    {% block page_header %}
        Information
    {% endblock %}
{% endif %}

{% block content %}
{% if not usePageHeader %}
        <h1>Information</h1>
{% endif %}
{% include "FOSUserBundle:Profile:show_content.html.twig" %}
{% endblock content %}
