{% extends baseLayout %}

{% if usePageHeader %}
    {% block page_header %}
        <i class="icon-vcard"></i> Profile
    {% endblock %}
{% endif %}

{% block content %}
{% if not usePageHeader %}
        <h1><i class="icon-vcard"></i> Profile</h1>
{% endif %}
{% include "FOSUserBundle:Profile:show_content.html.twig" %}
{% endblock content %}
