{% extends baseLayout %}

{% if usePageHeader %}
    {% block page_header %}
        Change Password
    {% endblock %}
{% endif %}

{% block content %}
{% if not usePageHeader %}
        <h1>Change Password</h1>
{% endif %}{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock content %}
