{% extends baseLayout %}

{% if useBreadcrumb %}
    {% block breadcrumb %}
        Change Password
    {% endblock %}
{% endif %}

{% block content %}
{% if not useBreadcrumb %}
        <h1>Change Password</h1>
{% endif %}{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock content %}
